* {
  font-family:  Helvetica, Arial, sans-serif;
}

body {
  padding-top: 60px;
}

input {
  box-shadow: 0px 0px 5px #8A8A8A55;
  color: grey;
  font-size: 1.2rem;
  width: 99%;
}

.card {
  align-content: center;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  width: 370px;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img{
  max-width: 370px;
  max-height: 370px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}